  <% include ../partials/header%>

  <div class="row">
      <div class="col-md-4" id="profile-col1">
           <h3><%= user.username%></h3>
          <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user profile image">
            <button type="button" id="addProfPic">Add profile image</button>
      </div>
        <h3>Profile</h3>
            <h5>Username: <%= user.username%></h5>
            <h5>Email: <a href="mailto:<%= user.email %>"><%=user.email%></a></h5>
      </div>
      <div class="col-md-7" id="profile-col2">
          <h3><%= user.username %>'s shared photos:</h3>
          <ul>
              <%  cuisines.forEach(function(cuisine) { %>
              <li><a href="/cuisines/<%= cuisine.id %>"><%= cuisine.name %></a></li>
              <% }); %>
          </ul>
      </div>
  </div>

  <% include  ../partials/footer%>
