  <% include  ../partials/header.ejs %>
  <div class="container">

       <!-- <div class="row text-center" style="display:flex ; flex-wrap: wrap;">  -->
          <% cuisines.forEach(function(cuisines){ %>
      <div class="row">
          <!-- div class="col-md-3"> -->
              <!-- <p class="lead">Foodies</p>
              <div class="list-group">
                  <li class="list-group-item active">Info 1</li>
                  <li class="list-group-item">Info 2</li>
                  <li class="list-group-item">Info 3</li> -->
            <!--   </div> -->
              <!-- <div id="map"></div> -->
          </div>
             <div class="col-md-9" >
                 <div class="thumbnail">
                  <div class=" preview">
                    <a href="/user/<%= cuisines.author.id %>">@<%= cuisines.author.username %>
                    <!-- <a class="pull-right" href="/cuisines/<%= %>"><%= cuisines.location %></a> -->
                  </div>
                    <img class="img-responsive" src="<%= cuisines.image %>">

                      <div class="like">
                        <a class="btn btn-default like-button"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
                         <a href="/cuisines/<%= cuisines._id %>" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></a>
                     </div>
                  <div class="caption-full">
                      <h4 class="pull-right">$<%= cuisines.cost %></h4>
                      <h4><a id="cuisine_name" href="/cuisines/<%= cuisines._id %>"><%=cuisines.name%></a></h4>
                      <!-- <p><%= cuisines.description %></p> -->
                      <!-- <p>
                        <em><a href="/user/<%= cuisines.author.id %>">@<%= cuisines.author.username %></a></em>
                      </p> -->
                      <p><%= cuisines.description %></p>
                      <div id="moment"><%= moment(cuisines.createdAt).fromNow().toUpperCase() %></div><br>
                        <% if(currentUser && cuisines.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a id="edit_button" href="/cuisines/<%= cuisines._id %>/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                        <form class="delete-form" action="/cuisines/<%= cuisines._id %>?_method=DELETE" method="POST">
                              <button id="delete_button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                        </form>
                      <% }%>
                  </div>
                 </div>
             </div>
          <% }); %>
      <!-- </div> -->
  </div>
</div>
<script>
  $(function($) {
  $(document).on('click', '.like-button', function(event) {
    console.log('gettin')
    var $target = $(event.target);
    console.log($target);
    $target.toggleClass('glyphicon-heart-empty glyphicon-heart');
  });
});
</script>
  <% include ../partials/footer.ejs %>
