<% include  ../partials/header.ejs %>

<div class="container" style=" padding: 80px 0;">

   <div class="row">

   <% cuisines.forEach(function(cuisines){%>

       <div class="md-8">
           <figure class="figure" >                
               <img class="img-thumbnail"  alt="Responsive image" src="<%= cuisines.image %>">
           </figure>
       </div>

       <div class="col-md-4" >
           <div class="preview" >
               <figcaption class="figure-caption text-justify"  >
                  <h4>
                    <a id="cuisine-name" href="/cuisines/<%= cuisines._id %>"><%=cuisines.name%></a>
                  </h4>

                   <p><%= cuisines.description %></p>

                   <p><strong>Cost</strong>: $<%=cuisines.cost%></p>
                   <p><%=cuisines.location%></p>

                   <p><em><a href="/user/<%= cuisines.author.id %>">@<strong><%= cuisines.author.username %></strong></a>, <%= moment(cuisines.createdAt).fromNow() %></em>
                   </p>
                    <a href="/cuisines/<%= cuisines._id %>" class="btn btn-info data-toggle="modal" data-target="#exampleModalLong"">Info</a>

                    <br><br>

                     
               </figcaption>
           </div>
       </div>

       <% }); %>
   
   </div>
</div>

<script>
 $(function($) {
 $(document).on('click', '.like-button', function(event) {
   var $target = $(event.target);
   console.log($target);
   $target.toggleClass('glyphicon-heart-empty glyphicon-heart');
 });
});
</script>
 <% include ../partials/footer.ejs %>